body{
  color:#1E4612;
  font-family: Roboto;
  display: flex;
    justify-content: center;
}
.input_start_date{
  margin-top:20px;
}
.header{
  border-bottom: 5px solid green;
}
.header h1{
  color: #F8E07D;
  padding: 5px;
  background-color: #1E4612;
  display: inline-block;
  border-radius: 10px;
}
.header .header_img {
  width: 20%;
  clip-path: circle(40.1% at 20% 10%);
  background-color: #1E4612;
  height: 100px;
}
.header_img img{
  width: 40%;
  margin-top:20px;
}
h3{
  color:#1E4612;
}
table{
  width: 100%;
  
}
thead tr {
  background-color: #1E4612;
  color: white;
}
table{
  border-collapse: collapse;
}
th,td{
  padding:10px;
  border: 1px solid #1E4612;
  border-collapse: collapse;
}
[colspan="2"]{
  font-weight: bold;
}
tfoot{
  font-weight: bold;
  
}
div#page_right {
  border-left: 1px solid #1E4612;
  padding-left:5px;
}
.report_layout{
  border:1px solid #1E4612;
}
.btn-export{
  color: blue;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  position: absolute;
  left: 45px;
}
.btn-export:hover{
  cursor: pointer;
}